body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(42, 42, 53);
  color: white;
  font: 18px system-ui;
  margin: 0;
}
p,
h1,
h2,
h3,
h4 {
  text-align: center;
  margin-inline: 10px;
  margin-block: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results {
  width: min(100vw, 800px);
}

.athletes-container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.athlete,
.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  > div {
    padding: 0.5rem 1rem;
  }
}

.header {
  border-bottom: 1px solid;
  font-weight: bold;
}

.athlete {
  cursor: pointer;
}

.athlete:hover {
  background: rgb(49, 49, 63);
}

.name {
  flex: 1;
}

.details {
  position: fixed;
  inset: 0;
  background-color: #2a2a35;
  padding: 1rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  & li {
    display: flex;
    justify-content: space-around;
  }

  & .closeButton {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font: 1.3rem;
    border: 2px solid;
    width: 45%;
    margin-inline: auto;
    padding: 0.5rem;
    border-radius: 15px;
  }
}

.text-center {
  text-align: center;
}

.settings {
  border: 1px solid gray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > label {
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
